/*
	To de Olho
	CSS Tema

	Fontes utilizadas:
		Open Sans (Headings, Botoes) <<< desativei
		Lato (textos)

	Cores importantes:
		Verde: #026060;
		Amarelo escuro: #fcac45;
		Amarelo claro: rgba(252, 172, 69, 0.34);
 */


/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	/* background-color: #f5f5f5; */
	background-color: #026060 !important;
	border-color: rgba(231, 231, 231, 0);
	color: #ffffff;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
	padding: 60px 15px 0;
}
.container p {
	margin: 20px 0;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}
.footer a:link, .footer a:hover {
	text-decoration: none;
	color: #fcac45;
}

code {
	font-size: 80%;
}


/* Icaro */
h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	font-weight: 200;
}
.navbar {
	background-color: #026060 !important;
	border-color: rgba(231, 231, 231, 0);
	font-weight: 400;
}
.navbar .nav {
	text-transform: uppercase;
}

a.navbar-brand,
.navbar-nav>li>a:link,
.navbar-nav>li>a:visited {
	color: #ffffff;
}
a.navbar-brand:hover,
.navbar-nav > li > a:hover,
.navbar-nav > li.open > a {
	color: #fcac45;
	background: none;
}
.navbar-nav > li.active > a {
	color: #ffffff;
	background: #fcac45 !important;
}
.navbar-nav > li.active > a:hover {
	color: #fcac45;
	background: #ffffff !important;
}

.navbar .profile {
	text-transform: none;
	height: 50px;
	max-height: 50px;
}
.navbar .profile > a {
	height: 50px;
}
.navbar img {
	margin: 0;
	margin-top: -5px;
	margin-right: 5px;
}

.navbar .login-button {
	font-weight: bold;
}
.footer em {
	color: #fcac45;
}
.social-media {
	font-size: 200%;
	margin: 10px 0;
	list-style: none;
	float: right;
}
.social-media li {
	float: left;
	margin: 0 5px;
}
.social-media a:link {
	color: #e7e7e7;

	transition-delay: 0s;
	transition-duration: 0.5s;
	transition-property: all;
	transition-timing-function: ease;

	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease;
}
.social-media a:hover {
	color: #fcac45;
}

/*
#affix .active {
	background-color: #f5f5f5;
}
*/